<div style="margin: 100px">
  <h4>Get Profit Model</h4>
  <div>
    <!-----------------------------------Information window----------------------------------->
    <input matInput type="text" [(ngModel)]="messageResponse" placeholder="Response's message."
           style="color: red; font-size: large">
    <!---------------------------------------------------------------------------------------->
    <mat-form-field>
      <input matInput type="text" name="modelName" [(ngModel)]="modelNameCar" #modelName="ngModel"
             required placeholder="Model's Name" [pattern]=modelNamePattern>
      <mat-hint></mat-hint>
      <mat-error *ngIf="modelName.errors?.pattern">{{modelNameValid}}</mat-error>
      <mat-error *ngIf="modelName.errors?.required">{{modelNameRequired}}</mat-error>
    </mat-form-field>

    <button mat-button [disabled]="modelName.invalid" (click)="submitModelName()">Get</button>
    <button mat-button (click)="back()">Back</button>
    <div class="">
      Cost Model Name: {{modelCost}} is {{cost}} ILS;
    </div>
  </div>
</div>
