<mat-card class="card">
  <div class="">
    <p>Get Profit Model</p>
    <p style="color: red; font-size: large;  float: right">{{messageResponse}}</p>
  </div>
  <mat-card-content class="card-content">
    <mat-form-field class="form-field">
      <input matInput type="text" name="modelName" [(ngModel)]="modelNameCar" #modelName="ngModel"
             required placeholder="Model's Name" [pattern]=modelNamePattern>
      <mat-hint></mat-hint>
      <mat-error *ngIf="modelName.errors?.pattern">{{modelNameValid}}</mat-error>
      <mat-error *ngIf="modelName.errors?.required">{{modelNameRequired}}</mat-error>
    </mat-form-field>
    <mat-card-actions class="card-actions">
    <button mat-raised-button [disabled]="modelName.invalid" (click)="submitModelName()">Get</button>
    </mat-card-actions>
    <hr>
    <mat-card-content class="cart-content">
      <h2>
      Cost Model Name: {{modelCost}} is {{cost}} ILS;
      </h2>
    </mat-card-content>
  </mat-card-content>
</mat-card>

