<mat-card class="card">
  <p>Add New Driver</p>
  <p style="color: red; font-size: large;  float: right">{{messageResponse}}</p>
  <mat-card-content class="card-content">
    <form #formDriver="ngForm" (ngSubmit)="saveDriver(formDriver)">
      <mat-form-field class="form-field">
        <input matInput type="text" name="licenseId" ngModel #licenseId="ngModel"
               required placeholder="License's Id" [pattern]=licenseIdDriver>
        <mat-hint></mat-hint>
        <mat-error *ngIf="licenseId.errors?.pattern">{{licenseIdValid}}</mat-error>
        <mat-error *ngIf="licenseId.errors?.required">{{licenseIdRequired}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="text" name="name" ngModel #nameDriver="ngModel"
               required placeholder="Driver's Name" [pattern]=nameUser>
        <mat-hint></mat-hint>
        <mat-error *ngIf="nameDriver.errors?.pattern">{{nameDriverValid}}</mat-error>
        <mat-error *ngIf="nameDriver.errors?.required">{{nameDriverRequired}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="text" name="birthYear" ngModel #birthYear="ngModel"
               required placeholder="Birth Year" [pattern]=year appCheck18Year>
        <mat-hint></mat-hint>
        <mat-error *ngIf="birthYear.errors?.pattern">{{birthYearValid}}</mat-error>
        <mat-error *ngIf="birthYear.errors?.required">{{birthYearRequired}}</mat-error>
        <mat-error *ngIf="birthYear.errors?.haveNot18Years">{{birthYearLess}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="text" name="phone" ngModel #phone="ngModel"
               required placeholder="Phone's Number" [pattern]=phoneNumber>
        <mat-hint></mat-hint>
        <mat-error *ngIf="phone.errors?.pattern">{{phoneNumberValid}}</mat-error>
        <mat-error *ngIf="phone.errors?.required">{{phoneNumberRequired}}</mat-error>
      </mat-form-field>
      <mat-card-actions class="card-actions">
        <button class="button-form" type="submit" [disabled]="formDriver.invalid">Save Driver
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
