<mat-card class="card">
  <div class="">
    <p>Get Model</p>
    <p style="color: red; font-size: large;  float: right">{{messageResponse}}</p>
  </div>
  <mat-card-content class="card-content">
    <mat-form-field class="form-field">
      <input matInput type="text" name="modelName" [(ngModel)]="modelNameCar" #modelName="ngModel"
             required placeholder="Model's Name" [pattern]=modelNamePattern>
      <mat-hint></mat-hint>
      <mat-error *ngIf="modelName.errors?.pattern">{{modelNameValid}}</mat-error>
      <mat-error *ngIf="modelName.errors?.required">{{modelNameRequired}}</mat-error>
    </mat-form-field>
       <button mat-raised-button color="accent" [disabled]="modelName.invalid" (click)="submitModelName()">Get</button>
     <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
      <!-- Model Name Column -->
      <ng-container matColumnDef="modelName">
        <th mat-header-cell *matHeaderCellDef> Model Name</th>
        <td mat-cell *matCellDef="let row"> {{row.modelName}} </td>
      </ng-container>
      <!-- Gas Tank Column -->
      <ng-container matColumnDef="gasTank">
        <th mat-header-cell *matHeaderCellDef> Gas Tank</th>
        <td mat-cell *matCellDef="let row"> {{row.gasTank}}</td>
      </ng-container>
      <!-- Company Column -->
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> Company</th>
        <td mat-cell *matCellDef="let row"> {{row.company}} </td>
      </ng-container>
      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country</th>
        <td mat-cell *matCellDef="let row"> {{row.country}} </td>
      </ng-container>
      <!-- Price of Day Column -->
      <ng-container matColumnDef="priceDay">
        <th mat-header-cell *matHeaderCellDef> Day's Price</th>
        <td mat-cell *matCellDef="let row"> {{row.priceDay}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </mat-card-content>
</mat-card>
