<div style="margin: 100px">
  <h4>Get Model</h4>
  <div>
    <!-----------------------------------Information window----------------------------------->
    <input matInput type="text" [(ngModel)]="messageResponse" placeholder="Response's message."
           style="color: red; font-size: large">
    <!---------------------------------------------------------------------------------------->
    <mat-form-field>
      <input matInput type="text" name="modelName" [(ngModel)]="modelNameCar" #modelName="ngModel"
             required placeholder="Model's Name" [pattern]=modelNamePattern>
      <mat-hint></mat-hint>
      <mat-error *ngIf="modelName.errors?.pattern">{{modelNameValid}}</mat-error>
      <mat-error *ngIf="modelName.errors?.required">{{modelNameRequired}}</mat-error>
    </mat-form-field>

    <button mat-button [disabled]="modelName.invalid" (click)="submitModelName()">Get</button>
    <button mat-button (click)="back()">Back</button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Model Name Column -->
      <ng-container matColumnDef="modelName">
        <th mat-header-cell *matHeaderCellDef> Model Name</th>
        <td mat-cell *matCellDef="let row"> {{row.modelName}} </td>
      </ng-container>
      <!-- Gas Tank Column -->
      <ng-container matColumnDef="gasTank">
        <th mat-header-cell *matHeaderCellDef> Gas Tank</th>
        <td mat-cell *matCellDef="let row"> {{row.gasTank}}</td>
      </ng-container>
      <!-- Company Column -->
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> Company</th>
        <td mat-cell *matCellDef="let row"> {{row.company}} </td>
      </ng-container>
      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country</th>
        <td mat-cell *matCellDef="let row"> {{row.country}} </td>
      </ng-container>
      <!-- Price of Day Column -->
      <ng-container matColumnDef="priceDay">
        <th mat-header-cell *matHeaderCellDef> Price of Day</th>
        <td mat-cell *matCellDef="let row"> {{row.priceDay}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
</div>
