<div style="margin: 100px">
  <h2> Logout</h2>
  <form #formUser="ngForm" (ngSubmit)="logoutSession(formUser)">
    <mat-form-field>
      <input matInput type="email" name="email" ngModel #email="ngModel"
             required placeholder="Email" pattern="[_a-zA-Z0-9]+@[a-z]+\.[a-z]+(\.[a-z]+)?" appUniqueEmail>
      <mat-hint></mat-hint>
      <mat-error *ngIf="email.errors?.pattern">Please enter a valid Registration Number</mat-error>
      <mat-error *ngIf="email.errors?.required">Registration Number is <strong>required</strong></mat-error>
      <mat-error *ngIf="email.errors?.isUniqueRegNumber">Registration Number is not<strong>unique</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" name="password" ngModel #password="ngModel"
             required placeholder="Password" pattern="[a-zA-Z0-9#$&]">
      <mat-hint>pattern=\"[a-zA-Z0-9#$&]\"</mat-hint>
      <mat-error *ngIf="password.errors?.pattern">Please enter a valid Color of Car</mat-error>
      <mat-error *ngIf="password.errors?.required">Color of Car is <strong>required</strong></mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="formUser.invalid">Logout</button>
  </form>
</div>
