<div style="margin: 100px">
  <h4>Close Record</h4>
  <div>
    <!-----------------------------------Information window----------------------------------->
    <input matInput type="text" [(ngModel)]="messageResponse" placeholder="Response's message."
           style="color: red; font-size: large">
    <!---------------------------------------------------------------------------------------->
    <form #formReturnRecord="ngForm" (ngSubmit)="saveReturnRecord(formReturnRecord)">
      <mat-form-field>
        <input matInput type="text" name="licenseId" ngModel #licenseId="ngModel"
               required placeholder="License's Id" [pattern]=licenseIdPattern>
        <mat-hint></mat-hint>
        <mat-error *ngIf="licenseId.errors?.pattern">{{licenseIdValid}}</mat-error>
        <mat-error *ngIf="licenseId.errors?.required">{{licenseIdRequired}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="regNumber" ngModel #regNumber="ngModel"
               required placeholder="Registration's Number" [pattern]=regNumberPattern>
        <mat-hint></mat-hint>
        <mat-error *ngIf="regNumber.errors?.pattern">{{regNumberValid}}</mat-error>
        <mat-error *ngIf="regNumber.errors?.required">{{regNumberRequired}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" name="gasTankPercent" ngModel #gasTankPercent="ngModel"
               required placeholder="Gas Tank Percent" [pattern]=gasTankPercentPattern>
        <mat-hint></mat-hint>
        <mat-error *ngIf="gasTankPercent.errors?.pattern">{{gasTankPercentValid}}</mat-error>
        <mat-error *ngIf="gasTankPercent.errors?.required">{{gasTankPercentRequired}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" name="damages" ngModel #damages="ngModel"
               required placeholder="Damages" [pattern]=damagesPattern>
        <mat-hint></mat-hint>
        <mat-error *ngIf="damages.errors?.pattern">{{damagesValid}}</mat-error>
        <mat-error *ngIf="damages.errors?.required">{{damagesRequired}}</mat-error>
      </mat-form-field>
      <button type="submit" [disabled]="formReturnRecord.invalid">Save Open Record</button>
    </form>
  </div>
</div>
