<mat-card class="card">
  <p>Add New Model</p>
  <p style="color: red;  float: right">{{messageResponse}}</p>
  <mat-card-content class="card-content">
    <form #formModel="ngForm" (ngSubmit)="saveModel(formModel)">
      <mat-form-field class="form-field">
        <input matInput type="text" name="modelName" ngModel #modelName="ngModel"
               required placeholder="Model's Name" [pattern]=modelNamePattern>
        <mat-hint></mat-hint>
        <mat-error *ngIf="modelName.errors?.pattern">{{modelNameValid}}</mat-error>
        <mat-error *ngIf="modelName.errors?.required">{{modelNameRequired}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="number" name="gasTank" ngModel #gasTank="ngModel"
               required placeholder="Tank's Gas" [pattern]=twoDigits>
        <mat-hint></mat-hint>
        <mat-error *ngIf="gasTank.errors?.pattern">{{gasTankValid}}</mat-error>
        <mat-error *ngIf="gasTank.errors?.required">{{gasTankRequired}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="text" name="company" ngModel #company="ngModel"
               required placeholder="Company" [pattern]=companyPattern>
        <mat-hint></mat-hint>
        <mat-error *ngIf="company.errors?.pattern">{{companyValid}}</mat-error>
        <mat-error *ngIf="company.errors?.required">{{companyRequired}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="text" name="country" ngModel #country="ngModel"
               required placeholder="Сountry" [pattern]=countryPattern>
        <mat-hint></mat-hint>
        <mat-error *ngIf="country.errors?.pattern">{{countryValid}}</mat-error>
        <mat-error *ngIf="country.errors?.required">{{countryRequired}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="number" name="priceDay" ngModel #priceDay="ngModel"
               required placeholder="Day's Price" [pattern]=priceDayPattern>
        <mat-hint></mat-hint>
        <mat-error *ngIf="priceDay.errors?.pattern">{{priceDayValid}}</mat-error>
        <mat-error *ngIf="priceDay.errors?.required">{{priceDayRequired}}</mat-error>
      </mat-form-field>
      <mat-card-actions class="card-actions">
        <button class="button-form" type="submit" [disabled]="formModel.invalid">Save Model</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
