<mat-card class="card">
  <p>Add New Car</p>
  <p style="color: red; font-size: large;  float: right">{{messageResponse}}</p>
  <mat-card-content class="card-content">
    <form #formCar="ngForm" (ngSubmit)="saveCar(formCar)">
      <mat-form-field class="form-field">
        <input matInput type="text" name="regNumber" ngModel #regNumber="ngModel"
               required placeholder="Registration's Number" [pattern]=registrationNumber>
        <mat-hint></mat-hint>
        <mat-error *ngIf="regNumber.errors?.pattern">{{regNumberValid}}</mat-error>
        <mat-error *ngIf="regNumber.errors?.required">{{regNumberRequired}}</mat-error>
      </mat-form-field>
<!--      <mat-form-field class="form-field">-->
<!--        <input matInput type="text" name="color" ngModel #color="ngModel"-->
<!--               required placeholder="Car's Color" [pattern]=colorCar>-->
<!--        <mat-hint></mat-hint>-->
<!--        <mat-error *ngIf="color.errors?.pattern">{{colorValid}}</mat-error>-->
<!--        <mat-error *ngIf="color.errors?.required">{{colorRequired}}</mat-error>-->
<!--      </mat-form-field>-->
      <mat-form-field>
        <mat-label>Car's Color</mat-label>
          <mat-select ngModel #color = "ngModel" name="color" [value]="valueColor" required>
            <mat-option *ngFor="let colorModel of colorModels" [value]="colorModel">{{colorModel}}</mat-option>
        </mat-select>
        </mat-form-field>
      <mat-form-field>
        <mat-label>Model's Name</mat-label>
        <mat-select ngModel #color = "ngModel" name="modelName" [value]="valueModel" required>
          <mat-option *ngFor="let nameModel of nameModels" [value]="nameModel">{{nameModel}}</mat-option>
        </mat-select>
      </mat-form-field>
<!--      <mat-form-field class="form-field">-->
<!--        <input matInput type="text" name="modelName" ngModel #modelName="ngModel"-->
<!--               required placeholder="Model's Name" [pattern]=modelNameCar>-->тп ыукму

<!--        <mat-hint></mat-hint>-->
<!--        <mat-error *ngIf="modelName.errors?.pattern">{{modelNameValid}}</mat-error>-->
<!--        <mat-error *ngIf="modelName.errors?.required">{{modelNameRequired}}</mat-error>-->
<!--      </mat-form-field>-->
      <mat-card-actions class="card-actions">
        <button type="submit" [disabled]="formCar.invalid">Save Car</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

