<mat-list class="list">
  <div class="">
    <p>Get Car's Drivers</p>
    <p style="color: red; font-size: large;  float: right">{{messageResponse}}</p>
  </div>
  <mat-form-field>
    <input matInput type="text" name="licenseId" [(ngModel)]="licenseIdDriver" #licenseId="ngModel"
           required placeholder="License's Id" [pattern]=licenseIdPattern>
    <mat-hint></mat-hint>
    <mat-error *ngIf="licenseId.errors?.pattern">{{licenseIdValid}}</mat-error>
    <mat-error *ngIf="licenseId.errors?.required">{{licenseIdRequired}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z0">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Registration number Column -->
      <ng-container matColumnDef="regNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration's number</th>
        <td mat-cell *matCellDef="let row"> {{row.regNumber}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Color</th>
        <td mat-cell *matCellDef="let row"> {{row.color}}</td>
      </ng-container>

      <!-- ModelName Column -->
      <ng-container matColumnDef="modelName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name's Model</th>
        <td mat-cell *matCellDef="let row"> {{row.modelName}} </td>
      </ng-container>

<!--      &lt;!&ndash; In Use Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="inUse">-->
<!--        <th mat-header-cell *matHeaderCellDef mat-sort-header> In Use</th>-->
<!--        <td mat-cell *matCellDef="let row"> {{row.inUse}} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Removed Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="flRemoved">-->
<!--        <th mat-header-cell *matHeaderCellDef mat-sort-header> Removed</th>-->
<!--        <td mat-cell *matCellDef="let row"> {{row.flRemoved}} </td>-->
<!--      </ng-container>-->

      <!-- state Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
        <td mat-cell *matCellDef="let row"> {{row.state}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <button mat-button color="primary" [disabled]="licenseId.invalid" (click)="submitLicenseId()">Get</button>
    <button mat-button color="primary" (click)="reset()">Reset</button>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
  </div>
</mat-list>
