<!--<app-form-car></app-form-car>-->
<!--<app-form-model></app-form-model>-->
<!--<app-form-driver></app-form-driver>-->
<!--<app-form-open-record></app-form-open-record>-->
<!--<app-form-close-record></app-form-close-record>-->
<!--<app-nav-bar></app-nav-bar>-->
<!--<app-list-all-cars></app-list-all-cars>-->
<app-form-model></app-form-model>
<app-form-car></app-form-car>
<app-form-driver></app-form-driver>
<app-form-open-record></app-form-open-record>
<app-form-close-record></app-form-close-record>
<app-list-all-cars></app-list-all-cars>
