.nav card-header{
  height: 10vh;
  overflow-y: auto;
}

.container {
  width: auto;
  height: 88%;
  margin: 1% 1%;
  border: 2px solid #555;
 }

.content{
  width: auto;
  height: 120%;
  /*margin: 1% 1%;*/
  border: 2px solid #555;
}
.nav-panel{
  min-width: 250px;
}
