<nav mat-tab-nav-bar>
  <!--------------------------------------- For no authorization users ----------------------------------->
  <label><h1>Rent Company LtD</h1></label>
  <label mat-tab-link [routerLink]="homeLink.path" *ngIf="true">{{homeLink.label}}</label>
  <label mat-tab-link [routerLink]="getModelLink.path" *ngIf="!isAdmin()">{{getModelLink.label}}</label>
  <label mat-tab-link [routerLink]="getCarLink.path" *ngIf="isAuth() && !isAdmin()">{{getCarLink.label}}</label>
  <label mat-tab-link [routerLink]="getAllModelsLink.path" *ngIf="!isAdmin()">{{getAllModelsLink.label}}</label>
  <label mat-tab-link [routerLink]="getAllCarsLink.path" *ngIf="isAuth() && !isAdmin()">{{getAllCarsLink.label}}</label>
  <label mat-tab-link [routerLink]="loginLink.path" *ngIf="!isAuth()">{{loginLink.label}}</label>
    <!--------------------------------------  For admins --------------------------------------------------->
  <div *ngIf="isAdmin()">
    <a mat-tab-link
       *ngFor="let link of navLinksAdmins"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </div>
  <!--------------------------------------  For clerks --------------------------------------------------->
  <div *ngIf="isClerk()">
    <a mat-tab-link
       *ngFor="let link of navLinksClerks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </div>
  <!--------------------------------------  For managers --------------------------------------------------->
  <div *ngIf="isManager()">
    <a mat-tab-link
       *ngFor="let link of navLinksManagers"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </div>
  <!--------------------------------------  For drivers --------------------------------------------------->
  <div *ngIf="isDriver()">
    <a mat-tab-link
       *ngFor="let link of navLinksDrivers"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </div>
  <!--------------------------------------  For statists --------------------------------------------------->
  <div *ngIf="isStatist()">
    <a mat-tab-link
       *ngFor="let link of navLinksStatists"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </div>
  <!--------------------------------------  For technicians --------------------------------------------------->
  <div *ngIf="isTechnician()">
    <a mat-tab-link
       *ngFor="let link of navLinksTechnicians"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </div>
  <!--------------------------------------- The LogOut ------------------------------------------------------>
  <button mat-button color="warn" *ngIf="isAuth()" (click)="logout()" style="float: right">LogOut</button>
</nav>
<router-outlet></router-outlet>
