<mat-card class="example-card" style="margin: 10%; width: 505px">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="email" name="email" [(ngModel)]="emailUser" #email="ngModel"
             required placeholder="Email" pattern="[_a-zA-Z0-9]+@[a-z]+\.[a-z]+(\.[a-z]+)?" appUniqueEmail>
      <mat-hint></mat-hint>
      <mat-error *ngIf="email.errors?.pattern">Please enter a valid Email</mat-error>
      <mat-error *ngIf="email.errors?.required">Email is <strong>required</strong></mat-error>
      <mat-error *ngIf="email.errors?.isUniqueRegNumber">Registration Number is not<strong>unique</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" [(ngModel)]="passwordUser" #password="ngModel"
             required placeholder="Password" pattern="[a-zA-Z0-9#$&]+">
      <mat-hint></mat-hint>
      <mat-error *ngIf="password.errors?.pattern">Please enter a valid Password</mat-error>
      <mat-error *ngIf="password.errors?.required">Password is <strong>required</strong></mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="loginWithEmailAndPassword()" color="primary"
            [disabled]="email.invalid || password.invalid">Login
    </button>
    <hr>
    <button mat-raised-button (click)="loginWithGoogle()">Sign in with Google</button>
    <button mat-raised-button (click)="loginWithGitHub()">Sign in with GitHub</button>
    <button mat-raised-button (click)="loginWithFacebook()">Sign in with Facebook</button>
  </mat-card-actions>
</mat-card>



<!--<div style="margin: 100px">-->
<!--  <h2>Login</h2>-->
<!--  <mat-form-field>-->
<!--    <input matInput type="email" name="email" [(ngModel)]="emailUser" #email="ngModel"-->
<!--           required placeholder="Email" pattern="[_a-zA-Z0-9]+@[a-z]+\.[a-z]+(\.[a-z]+)?" appUniqueEmail>-->
<!--    <mat-hint></mat-hint>-->
<!--    <mat-error *ngIf="email.errors?.pattern">Please enter a valid Email</mat-error>-->
<!--    <mat-error *ngIf="email.errors?.required">Email is <strong>required</strong></mat-error>-->
<!--    <mat-error *ngIf="email.errors?.isUniqueRegNumber">Registration Number is not<strong>unique</strong>-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->
<!--  <br>-->
<!--  <mat-form-field>-->
<!--    <input matInput type="password" name="password" [(ngModel)]="passwordUser" #password="ngModel"-->
<!--           required placeholder="Password" pattern="[a-zA-Z0-9#$&]+">-->
<!--    <mat-hint>pattern=\"[a-zA-Z0-9#$&]\"</mat-hint>-->
<!--    <mat-error *ngIf="password.errors?.pattern">Please enter a valid Password</mat-error>-->
<!--    <mat-error *ngIf="password.errors?.required">Password is <strong>required</strong></mat-error>-->
<!--  </mat-form-field>-->
<!--  <br>-->
<!--  <button mat-raised-button (click)="loginWithEmailAndPassword()" color="primary"-->
<!--          [disabled]="email.invalid || password.invalid">Login-->
<!--  </button>-->
<!--  <button mat-raised-button (click)="loginWithGoogle()">Sign in with Google</button>-->
<!--  <button mat-raised-button (click)="loginWithGitHub()">Sign in with GitHub</button>-->
<!--  <button mat-raised-button (click)="loginWithFacebook()">Sign in with Facebook</button>-->
<!--</div>-->
