<mat-card class="mat-card">
  <div class="">
    <p>{{nameOperation}}</p>
    <p style="color: red; font-size: large;  float: right">{{messageResponse}}</p>
  </div>
  <form #formUser="ngForm" (ngSubmit)="registration(formUser)">
    <mat-form-field class="mat-form-field">
      <input matInput type="email" name="username" [ngModel]="emailUser" #email="ngModel"
             required placeholder="Email" [pattern]=emailPattern>
      <mat-hint></mat-hint>
      <mat-error *ngIf="email.errors?.pattern">{{emailValid}}</mat-error>
      <mat-error *ngIf="email.errors?.required">{{emailRequired}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="mat-form-field">
      <input matInput type="text" name="role" [ngModel]="roleUser" #role="ngModel"
             required placeholder="Role" [pattern]=rolePattern>
      <mat-hint></mat-hint>
      <mat-error *ngIf="role.errors?.pattern">{{roleValid}}</mat-error>
      <mat-error *ngIf="role.errors?.required">{{roleRequired}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="mat-form-field">
      <input matInput type="password" name="password" [ngModel]="passwordUser" #password="ngModel"
             required placeholder="Password" [pattern]=passwordPattern>
      <mat-hint></mat-hint>
      <mat-error *ngIf="password.errors?.pattern">{{passwordValid}}</mat-error>
      <mat-error *ngIf="password.errors?.required">{{passwordRequired}}</mat-error>
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" type="submit" *ngIf="isAddAccount()">Add Account</button>
    <button mat-raised-button color="primary" type="submit" *ngIf="isUpdateAccount()">Update Account</button>
    <button mat-raised-button color="primary" type="submit" *ngIf="isRemoveAccount()">Remove Account</button>
    <button mat-raised-button color="primary" type="submit" *ngIf="isGetAccount()">Get Account</button>
    <button mat-raised-button color="accent" type="reset" (click)="reset(formUser)">Reset</button>

  </form>
</mat-card>
