<div style="margin: 100px">
  <h4>Get Profit Model</h4>
  <div>
    <mat-form-field>
      <input matInput type="text" name="modelName" [(ngModel)]="modelNameCar" #modelName="ngModel"
             required placeholder="Model name" pattern="">
      <mat-hint></mat-hint>
      <mat-error *ngIf="modelName.errors?.pattern">Please enter a valid Model name</mat-error>
      <mat-error *ngIf="modelName.errors?.required">Model name is <strong>required</strong></mat-error>
    </mat-form-field>

    <button mat-button [disabled]="modelName.invalid" (click)="submitModelName()">Get</button>
    <button mat-button (click)="back()">Back</button>
    <div class="">
      Cost Model Name: {{modelCost}} is {{cost}} ILS;
    </div>
  </div>
</div>
