<div style="margin: 100px">
  <h4>Get Driver</h4>
  <div>
    <mat-form-field>
      <input matInput type="text" name="licenseId" [(ngModel)]="licenseIdDriver" #licenseId="ngModel"
             required placeholder="License Id" pattern="">
      <mat-hint></mat-hint>
      <mat-error *ngIf="licenseId.errors?.pattern">Please enter a valid License Id</mat-error>
      <mat-error *ngIf="licenseId.errors?.required">License Id is <strong>required</strong></mat-error>
    </mat-form-field>

    <button mat-button [disabled]="licenseId.invalid" (click)="submitLicenseId()">Get</button>
    <button mat-button (click)="back()">Back</button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- License Id Column -->
      <ng-container matColumnDef="licenseId">
        <th mat-header-cell *matHeaderCellDef> License Id</th>
        <td mat-cell *matCellDef="let row"> {{row.licenseId}} </td>
      </ng-container>
      <!-- Name Driver Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name Driver</th>
        <td mat-cell *matCellDef="let row"> {{row.name}}</td>
      </ng-container>
      <!-- Birth Year Column -->
      <ng-container matColumnDef="birthYear">
        <th mat-header-cell *matHeaderCellDef> Birth Year</th>
        <td mat-cell *matCellDef="let row"> {{row.birthYear}} </td>
      </ng-container>
      <!-- Phone Number Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone Number</th>
        <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
</div>
